---
layout: archive
title: "Talks, Presentations and Research Symposiums"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->


<div>
<ul>
<li> RAG Based Documentation Generation from code files [<a href="https://genai4se.github.io/ISEC-Workshop/#CallForAbstract">Genai4SE ISEC'24, IIIT Bangalore</a> ]</li> 
<li>Finetuning and Baseline Model Development for Machine Translation with encoder-decoder and decoder-only models  [<a href="https://ltrc.iiit.ac.in/iasnlp2024/">IASNLP 2024, IIIT Hyderabad</a> ]</li> 
<li> Research and Innovation Symposium in Computing [<a href="https://www.cse.iitb.ac.in/~risc2024/">RISC2024, IIT Bombay</a> ]</li> 
<li> Nvidia AI Summit[<a href="https://www.nvidia.com/en-in/events/ai-summit/">Nvidia, Mumbai</a> ]</li> 
<li> LoG Meetup by Mastercard AI Garage[<a href="https://sites.google.com/view/log2024delhi">LoG,IIT Delhi</a> ]</li> 
</ul>
</div>